[submodule "vim-fugitive"]
	path = .vim/pack/common/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-colors-solarized"]
	path = .vim/pack/common/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "minibufexpl"]
	path = .vim/pack/common/start/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/pack/common/start/java-syntax.vim"]
	path = .vim/pack/common/start/java-syntax.vim
	url = git@github.com:uiiaoo/java-syntax.vim.git
[submodule ".vim/pack/common/start/vim-pbxproj"]
	path = .vim/pack/common/start/vim-pbxproj
	url = git@github.com:cfdrake/vim-pbxproj.git
[submodule ".vim/pack/common/start/vim-ruby"]
	path = .vim/pack/common/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule ".vim/pack/common/start/coc.nvim"]
	path = .vim/pack/common/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/pack/common/start/typescript-vim"]
	path = .vim/pack/common/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
