[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[user]
	email = palavrov@gmail.com
	name = Atanas Palavrov
[core]
	filemode = true
	editor = vim
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
