[credential]
	helper = cache --timeout 360
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[user]
	name = Atanas Palavrov
	email = atanas.palavrov.external@worldline.com
[core]
	abbrev = 7
	filemode = true
	editor = vim
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
